.foto-perfil {
    height: 25%;
    max-height: 100;
    width: 25%;
    max-width: 100%;
    border-radius: 50%;

}

.icone {
    height: 5%;
    max-height: 50;
    width: 5%;
    max-width: 50%;
}

.icone2 {
    height: 85%;
    max-height: 100;
    width: 60%;
    max-width: 100%;
}

.corprimaria {
    background-color: rgb(236, 123, 82);
}

.corsecundaria {
    background-color: rgb(86, 86, 95);
}


.p {
    font-family: 'Montserrat', sans-serif;
    color: black !important;
}

.titulosbrancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulospretos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.textobranco {
    color: white !important;
}

.jumbotron {
    margin-bottom: 0px;
}

.textofutter {
    margin-bottom: -50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imgcliente {
    padding-top: 30px;
}

.fundo {
    background-color: white;
}

.facebook {
    padding-right: 10px;
    font-size: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 576px) {
    .icone {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .botao {
        margin-left: auto;
        margin-right: auto; 
    }
    .textobranco {
    text-align: center;
    }
}